* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --button-width: 48px;
    --button-gap-l: 16px;
    --button-gap-s: 4px;
}

div {
    display: flex;
}

button {
    font-size: 18px;
    color: #EEEEEE;
    background-color:#414c59;
    border: 0;
    border-radius: 20%;
    width: var(--button-width);
    height: var(--button-width);
    cursor: pointer;
    box-shadow: 1px 1px 5px #1b1f24;
}

button.numeric {
    color: #414c59;
    background-color: #EEEEEE;
}

button:hover {
    opacity: 0.9;
    background-color:#5e6c7d;
}

button.numeric:hover {
    background-color:#d1d1d1;
}

button:disabled {
    opacity: 0.3;
}

.calculator {
    flex-direction: column;
    justify-self: center;
    align-items: center;
    margin-top: var(--button-gap-l);
    
    background-color: #303841;
    border-radius: 10px;
    padding: 12px;
    box-shadow: 3px 6px 12px #414c59;
}

.screen {
    align-self: stretch;
    align-items: center;
    justify-content: end;

    border-radius: 6px;
    background-color: #EEEEEE;
    height: calc(var(--button-width) - (2 * var(--button-gap-s)));
    padding: var(--button-gap-s);
    box-shadow: inset 5px 3px 5px #a2a2a2;

    font-size: 20px;
}

.top-operators {
    flex: 1;
    align-self: stretch;
    gap: var(--button-gap-s);
    margin-top: var(--button-gap-l);
}

.numericals-operators {
    align-self: stretch;
    margin-top: var(--button-gap-s);
    gap: var(--button-gap-s)
}

.numericals {
    flex-direction: column;
    justify-content: end;
    gap: var(--button-gap-s);
}

.numericals .num-row {
    gap: var(--button-gap-s);
}

.side-operators {
    flex-direction: column;
    flex: 0.2;
    gap: var(--button-gap-s);
}

.bottom-operators {
    flex: 1;
    align-self: stretch;
    margin-top: var(--button-gap-s);
    gap: var(--button-gap-s);
}

.bottom-operators .equals {
    flex: 1;
    border-radius: 10px;
    color: #EEEEEE;
    background-color: #FF5722;
}